.HeaderCont {
  height: 60vh;
  width: 100vw;

  // Setting background image
  background-image: url('https://images.pexels.com/photos/2091166/pexels-photo-2091166.jpeg?cs=srgb&dl=architecture-building-forest-2091166.jpg&fm=jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
